/* Theme */

<<<<<<< HEAD

/* 
|	Colours
*/
$brand-primary: #ed5508;
$brand-primary-dark: #aa330b;
$bg-gradient-one: #dddddd;
$bg-gradient-two: #fff;


$border-dotted: 1px dotted #000;
/* 
|	Font sizes
*/
$font-style-primary: 'mako';
$font-style-secondary: 'Dosis';
=======
$brand-primary: #ed5508;
$brand-primary-dark: #aa330b;
$bg-gradient-one: #dddddd;
$bg-gradient-two: #fff;  
>>>>>>> develop
