/* Theme */



/* 
|	Background
*/
$background-primary: #f2f2f2;

/* 
|	Colours
*/
$brand-primary: #603913;
$brand-primary-black: #2b2b2b;
$brand-primary-light: #f2f2f2;
$btn-green: #27ae60;
$btn-red: #c0392b;


$border-dotted: 1px dotted #000;
/* 
|	Font sizes
*/
.size-small {
	font-size: 14px;
}
.size-large {
	font-size: 20px;
}
.size-exlarge {
	font-size: 22px;
}
$font-style-primary: 'mako';
$font-style-secondary: 'Dosis';

