/* Alex Oliveira | @lexcode */

/*
	Font style
*/

@import url(http://fonts.googleapis.com/css?family=Lato);

@import '_bootstrap';
@import '_theme';
@import '_forms';
@import 'font-awesome-4.2.0/scss/font-awesome.scss';

.clearfix{clear:both;}
.center {text-align: center;}

html, body{
	font-family: 'Lato', sans-serif;
	height:100%;
}

main.introduction {
	@include container-fixed();
	
	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: 900px;
		/*border: 1px solid;*/
		/*width: $container-lg;*/
	}
	.introduction-left {				

		/*@include make-row();*/

		@media (min-width: $screen-sm-min) {
			/*width: $container-sm;*/
		}
		@media (min-width: $screen-md-min) {
			/*width: $container-md;*/
		}
		@media (min-width: $screen-lg-min) {
			width: 425px;
			/*height: 300px;*/
			float:left;
		}
		/*border: 1px solid red;*/
		background: url(../images/bg.png);
		
		.logo {
			/*margin: 20px;*/
				@media (min-width: $screen-sm-min) {
					width: $container-sm;
				}
				@media (min-width: $screen-md-min) {
					width: $container-md;
				}
				@media (min-width: $screen-lg-min) {
					width: 299px;
					padding:20px;
					/*width: $container-lg;*/
				}
		}
	}
	.introduction-right {

		/*@include make-row();*/

		@media (min-width: $screen-sm-min) {
			width: $container-sm;
		}
		@media (min-width: $screen-md-min) {
			width: $container-md;
		}
		@media (min-width: $screen-lg-min) {
			width: 445px;
			/*height: 300px;*/
			float:left;
			/*border: 1px solid;*/
		}
		padding: 60px;
		color: $brand-primary;
		background: $background-primary;

		form.form-base {	
			@include container-fixed();

			@media (min-width: $screen-sm-min) {
				width: $container-sm;
			}
			@media (min-width: $screen-md-min) {
				width: $container-md;
			}
			@media (min-width: $screen-lg-min) {
				width: 330px;
				/*width: $container-lg;*/
			}
			
			select {
				width: 276px;
				height: 35px;
				border: 0;
				padding: 29px;
			}

			ul {
				margin: 0;
				padding: 0 20px;
				list-style: none;
				.btn-green {
					background: $btn-green;
					padding: 5px 0;
				}
				.btn-red {
					background: $btn-red;
					padding: 5px 0;
				}
				li {
					margin: 0 5px 0 0;
					width: 125px;
					float: left;
					a {
						display: block;
						color: white;
						font-size: 20px;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}

		}
	}
	

}
main{
	height: 100%;
	@include container-fixed();
	@include make-row();
	@media (min-width: $screen-lg-min) {
		/*width: $container-lg;*/
		/*height: 150px;*/
		/*background: $brand-primary-light;*/

	}
	header{

		@include container-fixed();
		/*@include make-row();*/
		@media (min-width: $screen-sm-min) {
			/*width: $container-sm;*/
			width: 100%;
			height: 110px;
			background: $brand-primary-light;
		}
		@media (min-width: $screen-md-min) {
			/*width: $container-md;*/
			width: 100%;
			height: 110px;
			background: $brand-primary-light;
		}
		@media (min-width: $screen-lg-min) {
			width: 100%;
			height: 110px;
			background: $brand-primary-light;
		}
		form.form-default {

			/*@include container-fixed(); //just if you want center it */

			@media (min-width: $screen-sm-min) {
				width: $container-sm;
			}
			@media (min-width: $screen-md-min) {
				width: $container-md;
			}
			@media (min-width: $screen-lg-min) {
				width: 380px;
				/*width: $container-lg;*/
			}
			float: left;
			select {
				width: 200px;
				height: 35px;
				border: 0;
				margin: 35px 0 0 20px;
				padding: 29px;
				float: left;
			}
			.calendar {
				margin: 30px 0 0 15px;
				float: left;
				width: 130px;

				p {
					font-size: 14px;
					float: left;
				}

				a.btn-calendar {
					width: 33px;
					height: 30px;
					display: block;
					margin: 8px 10px;
					float: left;
					background: url(../images/calendar.png) no-repeat;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
	
				}
			}


		} 
		h1 {
			float: left;
			margin-left: 168px;
			a {
				width: 310px;
				height: 65px;
				margin: 0 auto;
				text-indent: -9000px;
				background: url(../images/min-logo.png) no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				display: block;
				span {
					
				}
			}
		}
		.search {
			float: right;
			margin: 35px;
			input {
				border: 0;
				padding: 6px;
				float: left;
			}
			a {
				width: 33px;
				height: 30px;
				float: left;
				text-indent: -9000px;
				display: block;
				margin-left: 10px;
				background: url(../images/menu.png) no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		}
	}

	.container {
		height: 100%;
		float: left;
		margin-top: 5px;
		background: #e9e9e9;

		@include container-fixed();
/*		@media (min-width: $screen-sm-min) {
			width: $container-sm;
		}
		@media (min-width: $screen-md-min) {
			width: $container-md;
		}*/
		@media (min-width: $screen-lg-min) {
			width: 100%;
		}

		.login {
			@include container-fixed();
			h2 {
				font-size: 50px;
				color: $brand-primary;
			}

			@media (min-width: $screen-sm-min) {
				width: $container-sm;
			}
			@media (min-width: $screen-md-min) {
				width: $container-md;
			}
			@media (min-width: $screen-lg-min) {
				width: 30%;
			}
			text-align: center;
			dl.form-input {
				dt {
					width: 80px;
					float: left;
					padding: 5px;
				}
				dd {
					input {
						width: 230px;
						padding: 5px;
						border: 0;
					}
				}
			}

			dl.btn {
				float: left;
				margin: 20px  0 0 60px;
				dt {
					float: left;
					a {
						width: 100px;
						height: 35px;
						display: block;
						background: #27ae60;
						text-align: center;
						line-height: 35px;
						color: white;
					}
				}

				dd {
					float: left;
					a {
						width: 100px;
						height: 35px;
						display: block;
						line-height: 35px;
						color: $brand-primary;
						font-size: 18px;
					}
				}
			}
		}
		.facebook {
			background: #3b5998;
			width: 300px;
			height: 50px;
			margin: 0 auto;
			text-align: center;
			line-height: 50px;
			color: white;
			font-size: 22px;
			display: block;
		}
		p {
			color: $brand-primary;
		}
		table.list {

			@include container-fixed();

			@media (min-width: $screen-sm-min) {
				width: $container-sm;
			}
			@media (min-width: $screen-md-min) {
				width: $container-md;
			}
			@media (min-width: $screen-lg-min) {
				width: 50%;
			}
			margin-top: 20px;

			thead {

				tr {
					th {
						background: #f1c40f;
						padding: 15px;
						text-align: left;
					}
				}
			}

			tbody {
				tr:nth-child(odd) {
					background: white;
				}
				tr:nth-child(even) {
					background: #f8f8f8;
				}
				tr {
					border-bottom: 1px solid #e9e9e9;
					td {
						padding: 0 14px;
					}
					td.rating {
						.symbol {
						  display: inline-block;
						  border-radius: 50%;
						  /*border: 5px double white;*/
						  width: 30px;
						  height: 30px;
						}

						.symbol-empty {
						  background: url(../images/0.png) center center no-repeat;
						}

						.symbol-filled:nth-child(1) {
  							background: url(../images/1.png) center center no-repeat;
						}
						.symbol-filled:nth-child(2) {
  							background: url(../images/2.png) center center no-repeat;
						}
						.symbol-filled:nth-child(3) {
  							background: url(../images/3.png) center center no-repeat;
						}
						.symbol-filled:nth-child(4) {
  							background: url(../images/4.png) center center no-repeat;
						}
						.symbol-filled:nth-child(5) {
  							background: url(../images/5.png) center center no-repeat;
						}

						.result-rating {
							width: 80px;
							height: 80px;
							background: red;
						}


					}
				}



			}
		}
	}	
}

